.changes-section {
    &__container {
        display: flex;
        align-items: center;
        flex-grow: 1;

        @media screen and (min-width: $br-desktop) {
            gap: 32px;
        }
    }

    &__all-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 64px;

        @media screen and (min-width: $br-tablet) {
            max-width: 435px;
            margin-bottom: 199px;
        }

        @media screen and (min-width: $br-desktop) {
            max-width: 665px;
        }
    }

    &__title {
        margin-bottom: 24px;

        @media screen and (min-width: $br-tablet) {
            margin-bottom: 40px;
            font-size: 48px;
        }
    }



    &__first-text {
        margin-bottom: 16px;

        @media screen and (min-width: $br-tablet) {
            margin-bottom: 40px;
        }
    }

    &__secound-text {
        margin: 0;

        &--bold {
            font-weight: 600;
            text-transform: capitalize;
        }
    }

    &__photos {
        display: flex;
        align-items: top;
        flex-wrap: wrap;
        gap: 40px;

        @media screen and (min-width: $br-tablet) {
            width: 200px;
            height: 200px;
        }

        @media screen and (min-width: $br-desktop) {
            width: 325px;
            height: 325px;
        }

    }

    &__womans {
        display: none;
        border-radius: 50%;
        position: relative;
        top: -200px;

        @media screen and (min-width: $br-tablet) {
            right: -50px;
            display: block;
        }

        &--after {
            position: relative;
            right: -108px;
        }
    }
}