.footer {
    position: relative;
    background-color: var(--color-primary-dark);

    &::after {
        position: absolute;
        background-repeat: no-repeat;
        content: '';
        width: 278px;
        height: 213px;
        right: -31px;
        bottom: -60px;
        background-image: url(../images/footer-decour-bottles.png);
    }

    &__container {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: calc((100% - 200px) / 4);
        padding: 56px 100px;
    }

    &__nav {
        display: flex;
        align-items: start;
        flex-grow: 1;
        gap: 50%;
    }

    &__link {
        color: var(--color-primary-light);
        font-size: 16px;
        text-decoration: none;
        margin-bottom: 16px;
        transition: 0.2s;
        width: 100%;
        min-width: 180px;


        &:hover {
            color: var(--color-primary-blue);
            font-weight: 700;
        }

        &--last {
            margin-bottom: 0;
        }
    }

    &__address {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 50%;
    }

    &__icons-list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    &__icon {
        fill: var(--color-primary-light);
    }

    &__address-copyright {
        font-size: 13px;
        color: var(--secoundary-color-light-grey);
        margin-bottom: 0;
    }
}