.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 1s;

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 30px;
        right: 18px;
        // fill: var(--color-primary-dark);
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        padding: 16px;
        cursor: pointer;
        padding: 0;

    }
}