* {
    box-sizing: border-box;
}

.item {
    display: inline;
    /*width */
    flex-basis: 100px;
    height: 100px;
    background-color: aqua;
    padding: 10px;
    border: 5px dotted darkred;
    padding: 16px 42px;
    margin: 15px;
    padding: 15px;
}


.flex-container {
    display: flex;
    justify-content: center;

}