.changes-section {
    &__container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 32px;
    }

    &__all-text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 709px;
        margin-bottom: 199px;
    }

    &__title {
        margin-bottom: 40px;
    }



    &__first-text {
        margin-bottom: 40px;
    }

    &__secound-text {
        margin: 0;
    }

    &__photo-and-stars {
        display: flex;
        align-items: top left;
        flex-wrap: wrap;
        max-width: 499px;
        gap: 40px;

    }

    &__womans {
        border-radius: 50%;
        position: relative;

        &--after {
            position: relative;
            right: -168px;
        }
    }
}