.contact-section {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
    }

    &__title {
        text-align: center;
    }

    &__map {
        width: 100%;
        height: 481px;
        max-width: 605px;
        border-radius: 32px;
    }

    &__box {
        text-align: center;
        height: 482px;
        background-color: var(--color-primary-dark);
        padding: 48px 57px;
        border: 1px solid transparent;
        border-radius: 32px;
        width: 100%;
        max-width: 423px;
        margin: 0;
    }

    &__field {
        margin-bottom: 16px;
        height: 52px;
    }

    &__text-free {
        color: var(--color-primary-light);
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 32px;

    }

    &__button {
        margin: 0 auto;
        margin-bottom: 8px;
    }
}