.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #05010140; // remove

    &__container {
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: calc((100% - 200px) / 4);
        padding: 32px 100px;
    }

    &__nav {
        display: none;

        @media screen and (min-width: $br-tablet) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
    }

    &__list {
        display: flex;
        gap: 56px;
    }

    &__contacts-list {
        display: none;

        @media screen and (min-width: $br-tablet) {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            gap: 33%;
        }
    }

    &__contacts-icon {
        fill: var(--color-primary-dark);
    }
}