.procedures-section {
    &__container {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        gap: 32px;
        align-items: center;
    }

    &__title {
        text-align: center;
    }

    &__list {
        display: flex;
        gap: 16px;
        flex-wrap: nowrap;
    }
}