.contact-section {
    &__container {
        display: flex;
        gap: 32px;
        max-width: 1240px;
    }

    &__map {
        flex-shrink: 0;
        border: none;
        border-radius: 16px;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 900;
        width: 614px;
    }

    &__field {
        margin-bottom: 24px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        margin: 0 auto 16px;
    }

    &__text {
        color: var(--color-brand-dark);
        margin-bottom: 72px;
        font-size: 18px;
        text-align: left;
        margin: 0px 0px 42px 0px;
    }
}