.traditions-title.section-title {
    margin-bottom: 42px;
}

.section-title.center {
    text-align: center;
}

.traditions-container {
    display: flex;
    gap: 40px;
}

.traditions-content {
    justify-content: space-between;
    max-width: 710px;
}

.traditions-section {
    padding-top: 96px;
}

.backer-man {
    width: 393px;
    height: 466px;
    top: 894px;
    left: 912px;
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
}

.traditions-section-text {
    font-size: 18px;
}