.traditions-section {
    padding-top: 96px;

    &__container {
        display: flex;
        gap: 40px;
    }

    &__content {
        justify-content: space-between;
        max-width: 710px;
    }

    &__title {
        margin-bottom: 42px;
    }

    &__text {
        font-size: 18px;
    }
}

.backer-man {
    width: 393px;
    height: 466px;
    top: 894px;
    left: 912px;
    border-top-right-radius: 400px;
    border-top-left-radius: 400px;
}