:root {

    --color-primary-blue: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --secoundary-color-dark-grey: #4A4A4A;
    --secoundary-color-light-grey: #747272;
    --secoundary-color-dark-blue: #011F4A;
    --secoundary-color-yellow: #FFD02B;
}

$br-mobile: 480px;
$br-tablet: 768px;
$br-desktop: 1280px;