:root {

    --color-primary-blue: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-primary-light: #FFFFFF;
    --secoundary-color-dark-grey: #4A4A4A;
    --secoundary-color-light-grey: #747272;
    --secoundary-color-dark-blue: #011F4A;
    --secoundary-color-yellow: #FFD02B;
}

/* base */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Play';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    display: inline-block;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-dark);
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 400;
    margin: 0;

}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* section */
.section {
    padding: 48px 0;
}

/* button */
.modal-btn-open {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary-light);
    border: 2px solid var(--color-primary-blue);
    background-color: var(--color-primary-blue);
    border-radius: 32px;
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 14px;
    transition: 0.2s;
}

.modal-btn-open:hover {
    background-color: transparent;
    color: var(--color-primary-blue);
    border: 2px solid var(--color-primary-blue);
}

.button-free {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primary-light);
    border: 2px solid var(--color-primary-blue);
    background-color: var(--color-primary-blue);
    border-radius: 32px;
    cursor: pointer;
    padding: 16px 32px;
    margin-bottom: 8px;
    transition: 0.2s;
}

.button-free:hover {
    background-color: transparent;
    color: var(--color-primary-blue);
    border: 2px solid var(--color-primary-blue);
}

/* link */
.link {
    color: var(--color-primary-dark);
    font-size: 18px;
    text-decoration: none;
    transition: 0.2s;
}

.link:hover {
    color: var(--color-primary-blue);
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 24px;
    justify-content: center;
}

/* header */
.header {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    padding-top: 8px;
    background-color: #FFFFFF40;
}

.header-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 240px;

}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

}

.nav-list {
    display: flex;
    gap: 56px;
}

.contact-header {
    display: flex;
    flex-grow: 1;
}

.contact-icons-header {
    display: flex;
    gap: 32px;
}

.contact-header-icon {
    fill: var(--color-primary-dark);
}





/* hero section */
.hero-section {
    background-image: linear-gradient(89.38deg, #FFFFFF 30.62%, rgba(255, 255, 255, 0.850898) 41.31%, rgba(255, 255, 255, 0.193204) 58.65%, rgba(255, 255, 255, 0) 72.78%), url(../images/background-foto-pg1.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 98px;
}

.hero-container {
    padding-left: 206px;
}

.cosmetical-clinic {
    font-size: 18px;
}

.hero-title {
    color: var(--color-primary-blue);
    font-family: 'Play', sans-serif;
    text-align: left;
    font-size: 140px;
    font-weight: 700;
    line-height: 114px;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.consultation-text {
    font-size: 12px;
    margin-bottom: 3px;
}

.consultations-text {
    font-size: 12px;
    margin: 0;
}

/* changes section */
.changes-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 32px;
}

.changes-all-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 709px;
    margin-bottom: 199px;
}

.woman-photo-and-stars {
    display: flex;
    align-items: top left;
    flex-wrap: wrap;
    max-width: 499px;
    gap: 40px;

}

.main-star {
    fill: var(--color-primary-dark);
    position: relative;
    top: 0px;
    right: -130px;
    transition: 5s;
    animation-name: main;
    animation-duration: 2s;
}

@keyframes main {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.secound-star {
    fill: var(--color-primary-blue);
    position: relative;
    top: 50px;
    right: -220px;
    transition: 3s;
    animation-name: secound;
    animation-duration: 1s;
}

@keyframes secound {
    0% {
        transform: skew(0);
    }

    30% {
        transform: skew(0.5);
    }

    100% {
        transform: skew(1);
    }
}

.last-star {
    fill: var(--secoundary-color-light-grey);
    position: relative;
    top: 250px;
    right: -155px;
    transition: 2s;
    animation-name: last;
    animation-duration: 1s;

}

@keyframes last {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

.chahges-title {
    margin-bottom: 40px;
}

.first-changes-text {
    margin-bottom: 40px;
}

.secound-changes-text {
    margin: 0;
}

.changes-text {
    color: var(--color-primary-blue);
    text-transform: capitalize;
}

.fotos-womans-changes {
    border-radius: 50%;
    position: relative;
}

.fotos-womans-changes.after {
    position: relative;
    right: -168px;
}

/* section title */
.section-title {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
}

.section-title .accent {
    color: var(--color-primary-blue);
}

/* adventages section */
/* .adventages-section {} */

.adventages-title {
    text-align: center;
}

.adventages-text {
    color: #000000;
    font-size: 18px;
    text-align: left;
}

.adventages-boxes {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 56px;
}

.adventages-icon {
    fill: var(--color-primary-blue);
    margin: 2px 102px 8px 102px;
}

.adventages-box {
    height: 444px;
    background-color: var(--color-primary-light);
    padding: 32px;
    border-radius: 32px;
    max-width: 316px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px #A8C6F561;
    transition: 0.2s;
}

.adventages-box:hover {
    transform: scale(1.05);
}

.adventages-box p {
    margin-bottom: 4px;
}

/* procedures section */

.procedures-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    fill: var(--color-primary-dark);
    border: 2px solid var(--color-primary-dark);
    border-radius: 50%;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
}

.carousel-button:hover {
    background-color: var(--color-primary-blue);
    fill: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    border-radius: 50%;
}

.carousel-button.rotation {
    transform: rotate(180deg);
}


.procedure-title {
    text-align: center;
}

.procedures-title {
    color: var(--color-primary-light);
    line-height: 1.2;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    line-height: 26px;
}

.procedures-list {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
}

.procedures-cards {
    height: 456px;
    width: 344px;
    background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%);
    padding: 24px;
    border: 1px solid transparent;
    border-radius: 4px 120px;
    max-width: 350px;
    margin-bottom: 32px;
}

.procedures-cards {
    display: flex;
    align-items: end;
    justify-content: center;
}

.procedures-mask {
    background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%), url(../images/massage\ face.svg);
}

.procedures-iniection {
    background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%), url(../images/iniection.svg);
}

.procedures-clean {
    background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%), url(../images/clean\ skin.svg);
}

/* .contact-section */
.contact-title {
    text-align: center;
}

.contact-map {
    width: 100%;
    height: 481px;
    max-width: 605px;
    border-radius: 32px;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.contact-box {
    height: 482px;
    background-color: var(--color-primary-dark);
    padding: 48px 57px;
    border: 1px solid transparent;
    border-radius: 32px;
    width: 100%;
    max-width: 423px;
    margin: 0;
}

.form-field.contact-field {
    margin-bottom: 16px;
}

.contact-box {
    text-align: center;
}

.for-free {
    color: var(--color-primary-light);
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 32px;

}

.for-free .free {
    color: var(--color-primary-blue);

}


.political-text {
    font-size: 12px;
    color: var(--secoundary-color-light-grey);
    margin-bottom: 0;
}

.political-text .political-link {
    text-decoration: underline;
    color: var(--secoundary-color-light-grey);
}

/* footer */
.footer {
    position: relative;
    background-color: var(--color-primary-dark);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 186px;
    padding: 32px 0px;
}

.footer-nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 186px;
}

.contact-link-footer {
    margin-bottom: 0;
}

.footer-address {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 186px;
}

.footer-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.contact-footer-icon {
    fill: var(--color-primary-light);
}

.link-footer {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 16px;
    transition: 0.2s;
}

.link-footer:hover {
    color: var(--color-primary-blue);
    font-weight: 700;
}

.link-footer.contact-link {
    color: var(--color-primary-light);
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 0px;
}

.link-footer.contact-link:hover {
    color: var(--color-primary-blue);
    font-weight: 700;
    transition: 0.2s;
}

.address-copyright {
    font-size: 13px;
    color: var(--secoundary-color-light-grey);
    margin-bottom: 0;
}

.footer::after {
    position: absolute;
    background-repeat: no-repeat;
    content: '';
    width: 278px;
    height: 213px;
    right: -31px;
    bottom: -60px;
    background-image: url(../images/footer-decour-bottles.png);
}

/* modal window */
.backdrop {
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 20px 0;
    background-color: rgba(1, 31, 74, 0.4);
    transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 723px;
    height: 100%;
    max-height: 700px;
    padding: 42px 144px;
    background-color: var(--color-primary-dark);
    border-radius: 48px;
    /* overflow-y: auto; */
}

.modal-btn-close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 42px;
    right: 26px;
    background-image: url(../images/btn-close.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    padding: 16px;
    cursor: pointer;
}

.modal-title {
    margin: 0;
    padding-bottom: 40px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    color: var(--color-primary-light);
}

.for-free.modal-text {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}


/* form */
.button-free.form {
    margin: 0 auto;
    margin-bottom: 8px;
}

.form-label.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.form-input {
    padding: 18px 33px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 2px solid var(--secoundary-color-light-grey);
    border-radius: 32px;
    background-color: transparent;
}

.form-input::placeholder {
    color: var(--color-primary-light);
    font-size: 13px;
}

.form-label {
    display: block;
    width: 100%;
}

.form-field {
    margin-bottom: 24px;
    height: 52px;
}

.form-input:focus {
    background-color: var(--secoundary-color-light-grey);
    outline: none;
}

.form-input:focus::placeholder {
    color: var(--color-primary-light);
}

.form-btn {
    display: flex;
    justify-content: center;
    margin: 0 auto 8px;
}

.political-text.form {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 225px;
    margin: 0 auto;
}