.procedures-card {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 416px;
    width: 320px;
    background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px;
    border: 1px solid transparent;
    border-radius: 4px 120px;
    margin-bottom: 32px;

    @media screen and (min-width: $br-tablet) {
        height: 365px;
        width: 280px;
    }

    &__title {
        color: var(--color-primary-light);
        line-height: 1.2;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 0;
        text-align: center;
        line-height: 26px;
    }

    &--mask {
        background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%), url(../images/massage\ face.svg);
    }

    &--iniection {
        background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%), url(../images/iniection.svg);
    }

    &--clean {
        background-image: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.725825) 84.61%, var(--color-primary-dark) 101.39%), url(../images/clean\ skin.svg);
    }
}